<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860807262932-qujueh0ercrsg2d57nsk1g0tedho10vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860807262932-qujueh0ercrsg2d57nsk1g0tedho10vo</string>
	<key>API_KEY</key>
	<string>AIzaSyA57Cn57DxdrBJQwXYcHTOuu07qPXctKmw</string>
	<key>GCM_SENDER_ID</key>
	<string>860807262932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.vaadd.citroon</string>
	<key>PROJECT_ID</key>
	<string>citroon-1bce2</string>
	<key>STORAGE_BUCKET</key>
	<string>citroon-1bce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860807262932:ios:156cdad7676dc1b5bbc141</string>
</dict>
</plist>